<!Doctype html>
<html>
<head>
  <title> Result </title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <script src="../lib/jquery-1.12.1.min.js"></script>
  <script src="../js/signup.js"></script>
</head>
<body>
    <div class="container">
      <br><br>
      <div class="jumbotron">
          <div class="row">
              
          </div>
      </div>
    </div>
</body>
</html>
